<div class="container">
  <ul>
    <li>
      <%= link_to 'platformer1', easelj_platformer1_path %>
    </li>
    <li>
      <%= link_to 'platformer2', easelj_platformer2_path %>
    </li>
    <li>
      <%= link_to 'race', easelj_race_path %>
    </li>
    <li>
      <%= link_to 'run', easelj_run_path %>
    </li>
    <li>
      <%= link_to 'tutorial', easelj_tutorial_path %>
    </li>
    <li>
      <%= link_to 'alien', easelj_alien_path %>
    </li>
    <li>
      <%= link_to 'free_alien', easelj_free_alien_path %>
    </li>
  </ul>
</div>
