<% pin_name = current_admin ? 'admin_pin' : 'station_pin' %>

<script>
  var name,
      mobile,
      pin,
      pin_btn,
      password,
      passwordconf,
      is_pin_sent = false;

  function updatePinBtn() {
    pin_btn.innerText = is_pin_sent ? "<%= t 'commit' %>" : "<%= t 'send_captcha' %>";
    pin_btn.disabled = name.value === "" || mobile.value === "";
    if (pin_btn.disabled) {
      return;
    }

    if (is_pin_sent) {
      if (pin.value === "") {
        pin_btn.disabled = true;
        return;
      }
      pin_btn.type = "commit";
      pin_btn.onclick = null;
    } else {
      pin_btn.type = "button";
      pin_btn.onclick = function () {
        ajaxDo("get", "<%= current_admin ?
         refresh_pin_admin_path(current_admin) :
          refresh_pin_station_path(current_station) %>", true);
        is_pin_sent = true;
      };
    }
  }

  function updatePinAndPinBtn(){
    pin.value = "";
    updatePinBtn();
  }

  function initStationForm() {
    name = document.getElementById("station_name");
    mobile = document.getElementById("station_mobile");
    password = document.getElementById("station_password");
    passwordconf = document.getElementById("station_password_confirmation");
    pin = document.getElementById("<%= pin_name %>");
    pin_btn = document.getElementById("pin_btn");

    name.oninput = updatePinAndPinBtn;
    mobile.oninput = updatePinAndPinBtn;
    password.oninput = updatePinAndPinBtn;
    passwordconf.oninput = updatePinAndPinBtn;
    pin.oninput = updatePinBtn;
    updatePinBtn();
  }

  document.addEventListener("turbolinks:load", initStationForm);
</script>

<%= bootstrap_form_for(station, local: true) do |form| %>
  <%= render 'share/errors', object: station %>
  <%= form.text_field :name %>
  <%= form.text_field :mobile %>
  <%= form.password_field :password %>
  <%= form.password_field :password_confirmation %>

  <div class="form-group">
    <div class="input-group input-group-lg">
      <%= number_field_tag pin_name, nil, placeholder: t('captcha'), class: 'form-control' %>
      <div class="input-group-btn">
        <button id="pin_btn" class="btn btn-primary"></button>
      </div>
    </div>
  </div>

<% end %>
