<% owner_name = current_admin ? 'admin_pin' : 'station_pin' %>
<% owner_pin_path = current_admin ? refresh_pin_admin_path(current_admin) :
                  refresh_pin_station_path(current_station) %>

<script>

  var pin_keeper,
      pin;

  function onFormInput(){
    pin_keeper.updatePinBtn();
  }

  function initStationForm() {
    pin = document.getElementById("<%= owner_name %>");

    pin_keeper = new PinKeeper(
        pin,
        document.getElementById("pin_btn"),
        "<%= owner_pin_path %>",
        function(){
          return document.getElementById("station_name").value === "" ||
              document.getElementById("station_mobile").value === "";
        },
        "<%= t 'commit' %>",
        "<%= t 'send_captcha' %>",
        "<%= t 'pin_counter_in_sec' %>"
    );

    document.getElementById("station_name").oninput = onFormInput;
    document.getElementById("station_mobile").oninput = onFormInput;
    pin.oninput = onFormInput;
  }

  document.addEventListener("turbolinks:load", initStationForm);
</script>

<%= bootstrap_form_for(station, local: true) do |form| %>
  <%= render 'share/errors', object: station %>
  <%= form.text_field :name %>
  <%= form.text_field :mobile %>
  <%= form.password_field :password %>
  <%= form.password_field :password_confirmation %>

  <div class="form-group">
    <div class="input-group input-group-lg">
      <%= number_field_tag owner_name, nil, placeholder: t('captcha'), class: 'form-control' %>
      <div class="input-group-btn">
        <button id="pin_btn" class="btn btn-primary"></button>
      </div>
    </div>
  </div>

<% end %>
