<script>
  var pin_keeper,
      pin;

  function onFormInput(){
    pin_keeper.updatePinBtn();
  }

  function initTicketForm() {
    pin = document.getElementById("user_pin");

    pin_keeper = new PinKeeper(
        pin,
        document.getElementById("pin_btn"),
        " <%= "/users/#{@ticket.user_mobile}/refresh_pin" %> ",
        function(){
          return false;
        },
        "<%= t 'pay' %>",
        "<%= t 'send_captcha' %>",
        "<%= t 'pin_counter_in_sec' %>"
    );

    pin.oninput = onFormInput;
  }

  document.addEventListener("turbolinks:load", initTicketForm);
</script>

<div class="container">

  <div class="jumbotron">

    <p>
      <strong><%= t 'ticket' %></strong>
      <%= @ticket.id %>
    </p>

    <% if @ticket.won? %>
      <% if @ticket.paid? %>
        <p><strong><%= t 'tickets.paid_already' %></strong></p>
      <% else %>
        <% if current_station %>
          <%= bootstrap_form_for(@ticket, method: :put, url: pay_ticket_path(@ticket), remote: false) do |f| %>
            <%= f.hidden_field :id, value: @ticket.id %>

            <div class="input-group input-group-lg">
              <%= number_field_tag 'user_pin', nil, class: 'form-control', placeholder: '验证码' %>
              <div class="input-group-btn">
                <button id="pin_btn" class="btn btn-primary"></button>
              </div>
            </div><!-- /input-group -->
          <% end %>
        <% else %>
          <p><strong><%= t 'tickets.need_to_be_paid' %></strong></p>
        <% end %>
      <% end %>
    <% else %>
      <% if @ticket.game.exposed? %>
        <p><strong><%= t 'tickets.not_won' %></strong></p>
      <% else %>
        <p><strong><%= t 'tickets.not_exposed' %></strong></p>
      <% end %>
    <% end %>

    <p>
      <strong><%= t 'game' %>:</strong>
      <%= link_to @ticket.game_id, @ticket.game %>,
      <% if @ticket.game.exposed? %>
        <strong><%= t 'exposed_at' %></strong>: <%= @ticket.game.exposed_at %>
        <strong><%= t 'result' %></strong>: <%= @ticket.game.result %>
      <% else %>
        <strong><%= t 'should_expose_at' %></strong>: <%= @ticket.game.should_expose_at %>
      <% end %>
    </p>

    <p>
      <strong><%= t 'tickets.bought_at_station' %></strong>:
      <%= link_to @ticket.station.name, @ticket.station %>
    </p>

    <p>
      <strong><%= t 'tickets.bought_by_user' %></strong>:
      <% if current_admin %>
        <%= link_to @ticket.user.mobile, @ticket.user %>
      <% else %>
        <%= @ticket.user.mobile %>
      <% end %>
    </p>

    <p>
      <strong><%= t 'amount' %></strong>:
      <%= @ticket.amount %>
    </p>

    <p>
      <strong><%= t 'forecast' %></strong>:
      <%= t result_as_str(@ticket.forecast) %>
    </p>

  </div>

</div>
